{% extends 'base.html' %}
{% load i18n %}
{% load static %}


{% block leftcontent %}
    <img src="{% static 'images/compans.png' %}" alt="SoundPlay">
    <p>Zhejiang Shangde Amusement Equipment Co., Ltd. is a professional manufacturer of slides, trampolines, fitness equipment,
naughty castles, parent-child restaurants, kindergarten tables and chairs and related preschool education products, and
amusement equipment. It integrates development, research, production, sales and installation of amusement Equipment,
recreational and sports facilities, educational toy product manufacturing enterprises. Located in Yongjia, Wenzhou,
China, the "Chinese Educational Toys Capital", it is a very professional and rich cultural enterprise with children's
amusement products in this area.</p>
<p>Shangde Amusement Equipment Network is a platform for Shangde Amusement to display its corporate image and promote the
latest products. Here you can learn about cultural tourism sports, children’s playgrounds, trampoline parks, and master
outdoor slides, trampolines, naughty castles, and amusement park equipment. Content and information on the price of
cultural and sports park equipment.
</p>
<p>Let every child play wisely and grow up happily is our eternal pursuit. As a pathfinder for the integration and
transformation and upgrading of China's amusement toy industry, Shangde Amusement is looking forward to sincere
cooperation with people of insight at home and abroad to create a better life. future!</p>
<p>We mainly produce:</p>
<p>The company's main products include: outdoor cultural tourism sports, children's playground, stainless steel slides,
non-standard customized amusement equipment, trampolines (indoor trampolines, trampoline parks, outdoor trampolines,
children trampolines, large trampoline combination playgrounds), kindergarten slides, kindergarten furniture such as
tables Chair-bed cabinets, naughty castles, parent-child restaurants, indoor children's theme parks, stainless steel
slides and other amusement equipment and peripheral products. Products are widely used in shopping malls, star hotels,
residential areas, schools, playgrounds, parks, kindergartens and other occasions, and are well received by customers.</p>
<p>Adhering to the business philosophy of "One World, Same Love", Shangdezheng, with a new attitude and spirit, will make
every effort to build a well-known brand image, create a bright future for Shangde, and promote the development of
cultural tourism and entertainment. Great and further contribution.</p>
<p>Honest and German Enterprise</p>
<p>Sincerity is the head, righteousness and benefit are both. The company adheres to the business philosophy of "focus,
innovation, and love for the future", and sincerely cooperates with domestic and foreign merchants for a win-win future.</p>
<p>Sincerity is the head, righteousness and benefit are both. The company adheres to the business philosophy of "focus,
innovation, and love for the future", and sincerely cooperates with domestic and foreign merchants for a win-win future.</p>
<p>Quality German Enterprise</p>
<p>
The company actively implements the brand strategy and the development and application of independent intellectual
property rights, independent product development, novel design, reasonable combination, and beautiful appearance.
Shangde Amusement has applied a series of advanced technologies and automation equipment such as automated cutting
processing technology, CNC hydraulic turret punching machine technology, welding robot workstation to the production
process, and the product quality is in an advanced position in the domestic similar market.</p>
{% endblock %}















