{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    {#将配置属性LANGUAGES进行列举，显示网站支持的语言#}
    {% get_available_languages as languages %}
    {% trans "Choice language" %}
    {% for lang_code, lang_name in languages %}
        {% if lang_code == 'zh-hans' %}
            <a href="http://www.sdplay.com/"><img src="../../static/images/{{ lang_code }}.jpg" />{{ lang_name }}</a>
        {% else %}
        {% language lang_code %}
            <a href="{% url 'index:test'%}"><img src="../../static/images/{{ lang_code }}.jpg" />{{ lang_name }}</a>
        {% endlanguage %}
        {% endif %}
    {% endfor %}
{% blocktranslate %}
    <p>Articles are words that define a noun as specific or unspecific. Consider the following examples: After the long day, the cup of tea tasted particularly good. ... English has two types of articles: definite and indefinite.</p>
{% endblocktranslate %}
</div>
</body>
</html>