{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h3>{{ case.title }}</h3>
                <ul class="blog-info-description">
                    <li>case release date:{{ case.create|date:"Y-m-d H:n:s" }}</li>
                </ul>
                <div class="blog-content">{{ case.content }}</div>
            </div>
        </div>
    </div>
{% endblock %}




