{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block leftnav %}
    <li><a href="/">Home</a></li>
    <li><a href="">About SoundPlay</a></li>
    <li><a href="{% url 'product:product_home' %}">Products</a></li>
    <li><a href="">News</a></li>
    <li><a href="">Typical Case</a></li>
{% endblock %}

{% block leftcontent %}
    <p>Total number of products:{{ products|length }}</p>
    <div class="row">
        {% for eachproduct in page_of_products %}
            <div class="col-sm-6 col-md-3">
                <img src="{% get_static_prefix %}sd_products_img/{{ eachproduct.pk }}.jpg" height="200" width="200">
                <a href="{% url 'product:detailProduct' eachproduct.pk %}">
                    <h6>{{ eachproduct.title|truncatechars:65 }}</h6>
                </a>
            </div>
        {% empty %}
            暂无文章，敬请期待
        {% endfor %}
    </div>
    <div class="row">
        <ul class="pagination">
            {# 上一页 #}
            <li>
                {% if page_of_products.has_previous %}
                    <a href="?page={{ page_of_products.pageprevious_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="true">&laquo;</span>
                {% endif %}
            </li>
            {# 全部页码 #}
            {% for page_num in page_range %}
                {% if page_num == page_of_products.number %}
                    <li class="active"><span>{{ page_num }}</span></li>
                {% else %}
                    {% if page_num == '...' %}
                        <li><span>{{ page_num }}</span></li>
                    {% else %}
                        <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {# 下一页 #}
            <li>
                {% if page_of_products.has_next %}
                    <a href="?page={{ page_of_products.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <span aria-hidden="true">&raquo;</span>
                {% endif %}
            </li>
        </ul>
    </div>

{% endblock %}

{% block rightnav %}
    <ul class="breadcrumb">
        <li>
            <a class="btn btn-default" href="#" role="button">log in</a>
        </li>
        <li>
            <a class="btn btn-default" href="#" role="button">sign up</a>
        </li>
    </ul>
{% endblock %}

{% block filter %}
    <p>Product category</p>
    {% for first_type in first_types %}
        <div class="row">
            <div class="btn-group">
                <button type="button" class="btn"><a
                        href="{% url 'product:typeProduct' first_type.typename ' ' %}">{{ first_type.typename }}</a>
                </button>
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    {% for second_type in first_type.producttypesecond_set.all %}
                        <li>
                            <a href="{% url 'product:typeProduct' first_type.typename second_type.second_typename %}">{{ second_type.second_typename }} </a>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

    {% empty %}
        no category
    {% endfor %}
{% endblock %}



