{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>看文章</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'home.css' %}">

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="{% static 'bootstrap-3.3.7-dist/js/html5shiv.min.js' %}"></script>
      <script src="{% static 'bootstrap-3.3.7-dist/js/respond.min.js' %}"></script>
    <![endif]-->
  </head>
<body>
    <div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span12">
					<h3>
						好文章，一起分享
					</h3>
				</div>
			</div>
			<div class="row-fluid">
				<div class="col-md-6">
					<ul class="breadcrumb">
						<li>
							<a href="/">主页</a>
						</li>
						<li>
							<a href="{% url 'showMusic' %}">听音乐</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul class="breadcrumb">
						<li>
							<a class="btn btn-default" href="#" role="button">登录</a>
						</li>
						<li>
							<a class="btn btn-default" href="#" role="button">注册</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row-fluid">
				<div class="col-md-8">
					<p>
						文章主要内容
					</p>
				</div>
				<div class="col-md-4">
					<p>
						过滤器
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>


</html>