{% load static %}
{% load i18n %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Shangde Amusement-Outdoor indoor amusement equipment and kindergarten furniture manufacturing custom
        manufacturer, outdoor slide, children's playground</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">


    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="{% static 'bootstrap-3.3.7-dist/js/html5shiv.min.js' %}"></script>
      <script src="{% static 'bootstrap-3.3.7-dist/js/respond.min.js' %}"></script>
    <![endif]-->
</head>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{417153009294580}',
      cookie     : true,
      xfbml      : true,
      version    : '{v9.0}'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_CN/sdk.js#xfbml=1&version=v9.0&appId=417153009294580&autoLogAppEvents=1" nonce="a5YHFIJN"></script>

{#<div class="fb-login-button" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false" data-width=""></div>#}
<a href="{% provider_login_url "facebook" method="oauth2" %}">Facebook OAuth2</a>
<a href="{% provider_login_url 'google' %}">Login with Google</a>
{% if user.is_authenticated %}
    Hello,{{ user.username }}
{% endif %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="row-fluid">
				<div class="span12">
					<h3>
                        {% block bodytitle %}{% endblock %}
					</h3>
				</div>
			</div>
			<div class="row-fluid">
				<div class="col-md-6">
					<ul class="breadcrumb">
                        {% block leftnav %}{% endblock %}
					</ul>
				</div>
				<div class="col-md-6">
                        {% block rightnav %}{% endblock %}
				</div>
			</div>
			<div class="row-fluid">
				<div class="col-md-8">
                    {% block leftcontent %}{% endblock %}
				</div>
				<div class="col-md-4">
                    {% block filter %}{% endblock %}
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="{% static 'jquery-1.12.4.min.js' %}"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>

</body>
</html>